<div id="dialog-modal" [hidden]="!this.isVisible">
    <div id="dialog-modal-content">
        
        <h3 [hidden]="transactionMode != 1">Remove Inventory</h3>
        <h3 [hidden]="transactionMode != 0">Add Inventory</h3>

        <div class="warning" *ngIf="warnings.length > 0">
            <div *ngFor="let warning of warnings">{{ warning }}</div>
        </div>

        <span (click)="launchScanner()"><i class="material-icons" style="cursor: pointer; vertical-align: middle;">camera_alt</i>&nbsp;<span class="expanded">Scan&nbsp;</span>Barcode</span>
        <div class="group">
            <i class="material-icons" (click)="lookupUPC()">search</i>
            <input type="number" #barcodeInput [(ngModel)]="Line.code">
            <label><span class="expanded">Product Code i.e. </span>UPC/EAN </label>
        </div>

        <div class="group">
            <i class="material-icons" (click)="searchProduct()">search</i>
            <input type="text" [(ngModel)]="ProductSearchText">
            <label>Product Search</label>
        </div>

        <div class="group">
            <input type="text" [(ngModel)]="productName" [disabled]="true" required placeholder="Select Product">
            <label>Product Name</label>
        </div>

        <div class="group">
            <input type="number" [(ngModel)]="Line.quantity" required >
            <label>Quantity</label>
        </div>

        <div class="group">
            <input type="number" [(ngModel)]="Line.size" required >
            <label><span class="expanded">Container&nbsp;</span>Size</label>
        </div>

        <div class="group">
            <input [(ngModel)]="Line.unit" required>
            <label>Unit&nbsp;<span class="expanded">i.e. fl oz, lb</span></label>
        </div>

        <div class="group" [hidden]="!productName">
            <select [(ngModel)]="SelectedVariety">
                <option [ngValue]="null">---------- No Variety --------------</option>
                <option *ngFor="let variety of Varieties" [ngValue]="variety">{{ variety.description }}</option>
            </select>
            <label>Variety of {{ productName }}</label>
            <add-variety [product]="Product" #addVariety (onVarietyAdded)="varietyAdded($event)"></add-variety>
        </div>

        <span class="btn-box right">
            <button class="btn" [disabled]="isBusy" (click)="dismissDialog()">Cancel</button>
            <button class="btn btn-action" [disabled]="isBusy" (click)="updateInventory()">Save</button>
        </span>
    </div>
</div>

<read-barcode #readBarcode (onReadValue)="barcodeReadHandler($event)"></read-barcode>
<product-search-dialog #productSearchDialog (onSelected)="updateProduct($event)"></product-search-dialog>
<add-product-code #addProductCodeDialog (onSaved)="newCodeSaved($event)"></add-product-code>