<div id="upload-modal" [hidden]="!this.isVisible">
    <div id="upload-modal-content">
        <div>Add more inventory</div>

        <div style="background-color: rgba(255, 255, 0, 0.349); padding: 1em; margin-top: .25em;" *ngIf="warnings.length > 0">
            <div *ngFor="let warning of warnings">{{ warning }}</div>
        </div>
        <!--<span *ngIf="PantryLine">{{  Line.product.name }} {{ "(" }} {{ Line.unit || "each" }} {{ ")" }}</span>-->
        <div>
            <mat-form-field style="width:20em;">
                <input matInput [(ngModel)]="Line.code" placeholder="Product Code i.e. UPC/EAN">
            </mat-form-field>
            <i class="material-icons" style="cursor: pointer;" (click)="launchScanner()">camera_alt</i>
            <i class="material-icons" style="cursor: pointer;" (click)="lookupUPC()">search</i>
        </div>

        <div>
            <mat-form-field style="width:20em;">
                <input matInput [(ngModel)]="ProductSearchText" placeholder="Product Search">
            </mat-form-field>
            <i class="material-icons" style="cursor: pointer;" (click)="searchProduct()">search</i>
        </div>

        <hr />

        <mat-form-field style="width:100%;">
            <input matInput [(ngModel)]="Line.quantity" required placeholder="Quantity">
        </mat-form-field>
        
        <mat-form-field style="width:100%;">
            <input matInput [(ngModel)]="Line.size" type="number" required placeholder="Size">
        </mat-form-field>
        
        <mat-form-field style="width:100%;">
            <input matInput [(ngModel)]="Line.unit" required placeholder="Unit">
        </mat-form-field>
        
        <mat-form-field style="width:100%;">
            <input matInput [(ngModel)]="productName" [disabled]="true" required placeholder="Product Name">
        </mat-form-field>

        <mat-form-field *ngIf="Varieties.length > 0">
            <mat-select [(value)]="selectedVariety">
                <mat-option value="">---------- No Variety --------------</mat-option>
                <mat-option *ngFor="let variety of Varieties" [value]="variety.id">
                  {{ variety.description }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <add-variety [hidden]="!productName" #addVariety (onVarietyAdded)="varietyAdded($event)"></add-variety>

        <button title="Cancel" [disabled]="isBusy" mat-raised-button color="default" class="list-action" (click)="dismissDialog()" style="margin-top: 1.5em; margin-bottom: 1.5em; margin-left: 1em; float: right;">
            Cancel
        </button>

        <button title="Update" [disabled]="isBusy" mat-raised-button color="primary" class="list-action" (click)="updateInventory()" style="margin-top: 1.5em; margin-bottom: 1.5em; float: right;">
            Save
        </button>
    </div>
</div>

<read-barcode #readBarcode (onReadValue)="barcodeReadHandler($event)"></read-barcode>
<product-search-dialog #productSearchDialog (onSelected)="updateProduct($event)"></product-search-dialog>
<add-product-code #addProductCodeDialog (onSaved)="newCodeSaved($event)"></add-product-code>