<div id="dialog-modal" *ngIf="this.isVisible">
    <div id="dialog-modal-content">
        
        <h3>
            <span *ngIf="Line.variety">{{ Line.variety.description }}</span> 
            {{  Line.product.name }} {{ "(" }} {{ Line.unit || "each" }} {{ ")" }}
        </h3>
        
        <div>How much do you actually have?</div>

        <div class="group">
            <input type="number" [(ngModel)]='originalQuantity' required>
            <label>Quantity</label>
        </div>

        <div class="group">
            <input type="text" [(ngModel)]='Line.unit' required disabled>
            <label>Unit</label>
        </div>

        <span class="btn-box right">
            <button class="btn" [disabled]="isBusy" (click)="dismissDialog()">Cancel</button>
            <button class="btn btn-action" [disabled]="isBusy" (click)="updateInventory()">Save</button>
        </span>
    </div>
</div>