<round-button (click)="addInventory()" float='right' altText='Add' buttonText='+'></round-button>
<round-button (click)="removeInventory()" altText='Remove' buttonText='-'></round-button>

<div class="table-container mat-elevation-z2" style="margin-top: 1em; clear: both;">
    <mat-table [dataSource]="dataSource">

      <!-- Name/Description Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Pantry Inventory</mat-header-cell>
        <mat-cell *matCellDef="let group">
          <div>
            <h3 class="group-header">{{ group.header}} | {{ group.total }}</h3>

            <div *ngFor="let line of group.elements; let i = index" (click)="openDialog(line)" style="cursor: pointer; padding:1em; margin:0;">
              {{line.quantity}}&nbsp;
              {{line.unit}}&nbsp;
              {{line.product.name}}&nbsp;
              <span *ngIf="line.variety">({{ line.variety.description }})</span>
            </div>
          </div>
        </mat-cell>
      </ng-container>

      <mat-row *matRowDef="let row; columns: visibleColumns;"></mat-row>
    </mat-table>
</div>

<inventory-correction #correctionDialog (onUpdate)="getInventory()"></inventory-correction>

<inventory-transaction #inventoryTransaction (onUpdate)="getInventory()"></inventory-transaction>