
@import url('./reset.css');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300|Roboto&display=swap');

html, body {
    background-color: #FFFFFF;
}

body {
  font-family: 'Roboto','Helvetica Neue',sans-serif;
}

main {
    flex: 1 0 auto;
}

footer {
    width: 100%;
    background-color: rgba(55,55,55,1);
    color: rgba(255,255,255,.95);
    padding: 2rem 0;
    flex-shrink: 0;
    text-align: center;
}

.material-icons.accent{
    color: rgba(56, 133, 255,1);
}

.material-icons.big {
    font-size: 2rem;
}

.medium, 
.large {
    display: none;
}

div.warning,
div.danger,
div.ok { 
    padding: 1rem; 
    margin-top: .25rem;
}

div.warning {
    background-color: rgba(255, 255, 0, 0.349);
    color: rgba(55,55,55,1);
}

div.danger {
    background-color:rgba(158, 3, 3,1);
    color: color(255,255,255,1);
}

div.ok {
    background-color: rgba(23, 156, 0,.55); 
    color: rgba(55,55,55,1);
}

a,
a.visited {
    cursor: pointer;
    color: rgba(56, 133, 255,1);
    text-decoration: none;
}

a:hover {
    color: rgba(55,55,55,1);
}

ul a {
    color: rgba(255,255,255,1);
}

mat-row {
    border-bottom: 1px solid !important;
    border-color: rgba(200,200,200,1) !important;
}

mat-row:first-child {
    border-top: 1px solid rgba(200,200,200,1) !important;
}

mat-cell div {
    width: 100%;
}