<header>
    <nav class="left">
        <label for='leftMenu'></label>
        <input mat-checkbox type="checkbox" name="menuLink" #menuLink id="leftMenu" (click)="menuClickHandler($event)" />
        <ul>
            <li class="small" *ngIf="isAdmin()" (click)="adminNavigation()" >
                <a>Admin</a>
            </li>
            <li class="small" *ngIf="isLoggedIn" (click)="logout()" >
                <a>Sign Out</a>
            </li>
            <li (click)="login()" *ngIf="!isLoggedIn">
                <a>Join Free</a>
            </li>
            <li *ngIf="!isLoggedIn" (click)="login()" >
                <a>Login</a>
            </li>
            <li routerLink="/recipes" *ngIf="isLoggedIn">
                <a>Recipes</a>
            </li>
            <li routerLink="/pantry/inventory" *ngIf="isLoggedIn">
                <a>My Pantry</a> 
            </li>
            <li routerLink="/menu" *ngIf="isLoggedIn">
                <a>Menu Plan</a> 
            </li>
            <li routerLink='/grocery-list' *ngIf="isLoggedIn">
                <a>Grocery List</a>
            </li>
        </ul>		
    </nav>
    <span class="logo" title="Automated Pantry Management" routerLink="/"></span>
    <nav class="right">
        <span *ngIf="isLoggedIn">
            <img src="../assets/images/default-user.png" />
            <span>{{ userName() }}</span>
        </span>
        <label class="material-icons" for='rightMenu' *ngIf="isLoggedIn">more_vert</label>
        <input mat-checkbox type="checkbox" id="rightMenu" name="menuLink" #menuLink (click)="menuClickHandler($event)" />
        <ul>
            <li *ngIf="isAdmin()" (click)="adminNavigation()" >
                <a>Admin</a>
            </li>
            <li *ngIf="isLoggedIn" (click)="logout()" >
                <a>Sign Out</a>
            </li>
        </ul>
    </nav>
</header>
<div>
    <router-outlet></router-outlet>
</div>
