@model LoginViewModel

    <div>
        <h1>Sign In</h1>

        @if (Model.EnableLocalLogin)
        {
            <partial name="_ValidationSummary" />
            <form asp-route="Login">

                @if (ViewData["LoginMessage"] != null)
                {
                    <p style="color:green">@ViewData["LoginMessage"]</p>
                }

                <input type="hidden" asp-for="ReturnUrl" />

                <div class="group">
                    <input type="text" class="form-control" asp-for="Username" autofocus>
                    <label asp-for="Username">Username</label>
                </div>

                <div class="group">
                    <input type="password" class="form-control" asp-for="Password" autocomplete="off">
                    <label asp-for="Password">Password</label>
                </div>

                @if (Model.AllowRememberLogin)
                {
                    <div class="login-remember group">
                        <input type="checkbox" asp-for="RememberLogin">
                        <label asp-for="RememberLogin">Remember My Login</label>
                    </div>
                }

                <button type="submit" class="btn btn-action" value="login">Sign In</button>

                <a asp-action="Recover" asp-controller="Account" asp-route-returnUrl="@Model.ReturnUrl">Forgot password?</a>

                <hr />
            </form>
            <p>
                Don't have an account? <a asp-action="Register" asp-controller="Account" asp-route-returnUrl="@Model.ReturnUrl">Create an account.</a>
            </p>
            <p>
            </p>
        }
    </div>