@model RecoverViewModel
@{
    ViewData["Title"] = "Reset Password";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
            @if (ViewData["RecoveryMessage"] != null)
            {
                <p>@ViewData["RecoveryMessage"]</p>
            }
            else
            {
                <p>We will send an email to your primary account with instructions on how to reset your password.</p>
            }
            <div class="group">
                <input type="text" asp-for="Email" autofocus />
                <label asp-for="Email"></label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            @if (ViewData["RecoveryMessage"] != null)
            {
                <button type="submit" class="btn btn-action">Resend Email</button>
            }
            else
            {
                <button type="submit" class="btn btn-action">Recover</button>
            }
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
