@model VerifyRecoveryViewModel
@{
    ViewData["Title"] = "Reset Password";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-4">
        <p class="danger">@Model.Error</p>
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
            <input type="hidden" asp-for="Token" class="form-control" />

            <div class="group">
                <input type="text" asp-for="Email" class="form-control" autofocus />
                <label asp-for="Email"></label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="group">
                <input asp-for="Password" class="form-control" autocomplete="off" />
                <label asp-for="Password"></label>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="group">
                <input asp-for="ConfirmPassword" class="form-control" autocomplete="off" />
                <label asp-for="ConfirmPassword"></label>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-action">Update Password</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
