*,
:before,
:after {
    box-sizing: border-box;
}

.group {
    position: relative;
    margin: 2rem 0;
}

.group .text-danger span{
    color: red;
}

textarea {
    min-height: 15rem;
    resize: none;
    font-family: 'Roboto', 'Helvetica Neue', sans-serif;
}

input,
textarea,
select {
    color: rgba(55,55,55,1);
    background: none;
    font-size: 300;
    padding: .5rem;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid rgba(200,200,200,1);
}

select {
    font-size: 400;
}

input:focus,
textarea:focus {
    outline: none;
}

    input:focus ~ label,
    textarea:focus ~ label,
    input:valid ~ label,
    textarea:valid ~ label,
    input:disabled ~ label,
    textarea:disabled ~ label,
    .group select ~ label {
        top: -14px;
        font-size: 12px;
        color: rgba(23, 156, 0,1);
    }

input:disabled,
textarea:disabled {
    background-color: rgba(200,200,200,1);
}

input[type="password"] {
    letter-spacing: 0.3rem;
}

input[type="checkbox"] {
    margin-left: .25em;
    width:auto;
    margin-bottom: -1rem;
}

.group i {
    cursor: pointer;
    position: absolute;
    right: 0;
    color: rgba(55,55,55,1);
}

.group label {
    color: rgba(158, 3, 3,1);
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: .25s ease all;
}

.btn {
    background-color: rgba(200,200,200,1);
    color: rgba(55,55,55,1);
    border: none;
    padding: 1rem 2rem;
    margin: 0 0 1.5rem 0;
    border-radius: unset;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
    display: block;
}

    .btn:hover {
        background-color: rgba(55,55,55,1);
        color: rgba(200,200,200,1);
    }

    .btn.btn-action {
        background-color: rgba(56, 133, 255,1);
        color: #ffffff;
    }

        .btn.btn-action:hover {
            background-color: rgba(55,55,55,1);
            color: rgba(200,200,200,1);
        }

.btn-box {
    display: block;
    width: 100%;
    text-align: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

@media(min-width: 30rem) {
    .btn-box.right {
        width: auto;
        float: right;
    }

    textarea {
        min-height: 25rem;
    }
}
