@model RegisterViewModel
@{
    ViewData["Title"] = "Create a new account.";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
            <div class="group">
                <input type="text" asp-for="Email" class="form-control" autofocus />
                <label asp-for="Email"></label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="group">
                <input type="text" asp-for="FirstName" class="form-control" />
                <label asp-for="FirstName"></label>
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>

            <div class="group">
                <input type="text" asp-for="LastName" class="form-control" />
                <label asp-for="LastName"></label>
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            <div class="group">
                <input type="password" asp-for="Password" class="form-control" autocomplete="off"/>
                <label asp-for="Password"></label>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="group">
                <input type="password" asp-for="ConfirmPassword" class="form-control" autocomplete="off"/>
                <label asp-for="ConfirmPassword"></label>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-action">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
