<upload-file-dialog (onImageSelected)="processImage($event); closeFileUploader();" 
                    (onTextSelected)="submitFile($event); closeFileUploader();"
                    #uploadFileDialog>
</upload-file-dialog>

<texteditor-dialog (onTextUpdated)="submitFile($event); closeTextPreview();"
                   #editorDialog>
</texteditor-dialog>

<div style="background-color: rgba(255, 255, 0, 0.349); padding: 1em; margin-top: .25em;" *ngIf="!this.isUpdate">
    <i class="material-icons" (click)="this.showFileUploader()" style="cursor: pointer;">attach_file</i>
    <span>Convert from image or text file</span>
</div>

<div class="mat-display-1" style="margin-bottom: 0px;">
    <mat-form-field style="width:100%;">
        <input matInput [(ngModel)]="recipe.title" required placeholder="Title" [disabled]="this.rawText != ''">
    </mat-form-field>
</div>

<div>
    <mat-form-field style="width:100%;">
        <input matInput [(ngModel)]="recipe.credit" placeholder="Citation i.e. website, name, etc...">
    </mat-form-field>
</div>

<div class="danger">{{error}}</div>
<span class="mat-title">Ingredients</span>&nbsp;
<button title="Edit Directions" mat-raised-button color="primary" class="list-action" (click)="this.showTextPreview()">
    <i class="material-icons" style="cursor: pointer;">edit</i>
</button>
<br />&nbsp;<br />

<div class="table-container mat-elevation-z8" style="margin-top: 1em;">
  <mat-table [dataSource]="dataSource">

    <!-- Name/Description Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Ingredient</mat-header-cell>
      <mat-cell *matCellDef="let ingredient">
        <div>
          <span>{{ingredient.quantity}}</span>&nbsp;
          <span>{{ingredient.unit}}</span>&nbsp;
          <span>{{ingredient.name}}</span>
        </div>
      </mat-cell>
    </ng-container>

    <mat-row *matRowDef="let row; columns: condensedColumns;"></mat-row>
  </mat-table>
</div>

<div>&nbsp;</div>
<div class="danger">{{error}}</div>
<span class="mat-title">Directions</span>&nbsp;
<button title="Edit Directions" mat-raised-button color="primary" class="list-action" (click)="this.showTextPreview()">
    <i class="material-icons" style="cursor: pointer;">edit</i>
</button>
<br />&nbsp;<br />

<div class="table-container mat-elevation-z8">
  <mat-table [dataSource]="directionDataSource">

      <ng-container matColumnDef="description">
          <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
          <mat-cell *matCellDef="let direction; let i = index">
            <div style="width: 100%;">
              <b>{{i + 1}}</b> {{direction.text}}
            </div>
          </mat-cell>
        </ng-container>

    <mat-row *matRowDef="let row; columns: directionColumns;"></mat-row>
  </mat-table>

  <button title="Save Recipe" mat-raised-button color="primary" class="list-action" (click)="saveRecipe()" style="margin-top: 1.5em; margin-bottom: 1.5em; float: right;">
      Save
  </button>

</div>