<div class="danger">{{error}}</div>

<round-button float='left' altText='New' buttonText="+" routerLink='/new-recipe'></round-button>

<div class="table-container mat-elevation-z1">
  <table mat-table [dataSource]="dataSource">

    <!-- Name/Description Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Stuff</th>
        <td mat-cell *matCellDef="let recipe"><div><a routerLink="/recipe/{{recipe.id}}"><strong>{{recipe.title}}</strong></a></div></td>
    </ng-container>

    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
