<upload-file-dialog (onImageSelected)="processImage($event); closeFileUploader();" 
                    (onTextSelected)="submitFile($event); closeFileUploader();"
                    #uploadFileDialog>
</upload-file-dialog>

<texteditor-dialog (onTextUpdated)="submitFile($event); closeTextPreview();"
                   #editorDialog>
</texteditor-dialog>

<h3 *ngIf="this.isUpdate">{{ recipe.title }}</h3>

<div class="warning" *ngIf="!this.isUpdate && isPremium()" (click)="this.showFileUploader()">
    <i class="material-icons" style="cursor: pointer;">attach_file</i>
    <span><span class="expanded">Convert&nbsp;</span>From Image</span>
</div>

<div class="warning" *ngIf="!this.isUpdate && !isPremium()">
  <i class="material-icons">attach_file</i>
  <span>Upgrade to a premium membership in order to convert a recipe from an image</span>
</div>

<div class="danger" *ngIf="error">{{error}}</div>

<div class="group">
  <i class="material-icons" routerLink='products'>list</i>
  <input type="text" [(ngModel)]="recipe.title" [disabled]="this.rawText != ''">
  <label>Title</label>
</div>

<div class="group">
  <input type="text" [(ngModel)]="recipe.credit" >
  <label>Citation<span class="expanded">&nbsp;i.e. website, name, etc...</span></label>
</div>

<div class="group" *ngIf="!!recipe.title || isUpdate">
  <i class="material-icons" style="cursor: pointer;" (click)="this.showTextPreview()">edit</i> <h3>Ingredients</h3> &nbsp;
</div>

<h4 *ngIf="ingredients?.length === 0">No Ingredients</h4>
<div class="table-container mat-elevation-z2" style="margin-top: 1em;" *ngIf="ingredients?.length > 0">
  <mat-table [dataSource]="dataSource">

    <!-- Name/Description Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Ingredient</mat-header-cell>
      <mat-cell *matCellDef="let ingredient">
        <div>
          <span>{{ingredient.quantity}}</span>&nbsp;
          <span>{{ingredient.unit}}</span>&nbsp;
          <span>{{ingredient.name}}</span>
        </div>
      </mat-cell>
    </ng-container>

    <mat-row *matRowDef="let row; columns: condensedColumns;"></mat-row>
  </mat-table>
</div>

<div class="group" *ngIf="!!recipe.title || isUpdate">
  <i class="material-icons" style="cursor: pointer;" (click)="this.showTextPreview()">edit</i> <h3>Directions</h3> &nbsp;
</div>

<h4 *ngIf="directions?.length === 0">No Directions</h4>
<div class="table-container mat-elevation-z2" *ngIf="directions?.length > 0">
  <mat-table [dataSource]="directionDataSource">

    <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
        <mat-cell *matCellDef="let direction; let i = index">
          <div style="width: 100%;">
            {{direction.text}}
          </div>
        </mat-cell>
      </ng-container>

    <mat-row *matRowDef="let row; columns: directionColumns;"></mat-row>
  </mat-table>
</div>

<div class="danger" *ngIf="error">{{error}}</div>

<span class="btn-box right">
  <button class="btn btn" [disabled]="isBusy" routerLink='/recipes'>Cancel</button>
  <button class="btn btn-action" [disabled]="isBusy" (click)="saveRecipe()">Save</button>
</span>