<h3 class="title">Grocery List 
    <!--<i *ngIf="EditMode" class="material-icons accent big" (click)="toggleEditMode()" style="float:right; cursor: pointer">check_box</i>
    <i *ngIf="!EditMode" class="material-icons accent big" (click)="toggleEditMode()" style="float:right; cursor: pointer">indeterminate</i>-->
</h3>

<div class="warning" *ngIf="!showTips" (click)="showTips = true;">
    <span>
        <i class="material-icons" style="cursor: pointer;">info_outline</i>
        Show Tips
    </span>
</div>

<div class="warning" *ngIf="showTips">
    <p *ngFor="let tip of tips;" >
        <i class="material-icons">info_outline</i> 
        {{tip}}
    </p>
</div>

<quick-product-add (onItemAdded)="freeformProductAdded($event)" (listId)="listId" #quickAdd></quick-product-add>

<h4 *ngIf="GroceryItems.data.length == 0">Your list is empty.</h4>

<mat-table [dataSource]="GroceryItems">
    <ng-container matColumnDef="name">
        <mat-cell *matCellDef="let item" class="main">
            <h4>{{ formatItem(item) }}</h4>
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="removed">
        <mat-cell *matCellDef="let item" class="remove" (click)="removeItem(item)">
            <i class="material-icons">delete</i>
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="markPurchased">
        <mat-cell *matCellDef="let item" class="accept" (click)="acceptItem(item)">
            <i class="material-icons">thumb_up</i>
        </mat-cell>
    </ng-container>

    <mat-row *matRowDef="let row; columns: VisibleColumns;"></mat-row>
</mat-table>

<h4 *ngIf="PurchasedItems.data.length > 0">
    Purchased Items
    <a (click)="completeTransaction()" style="float:right;">Complete Purchase</a>
</h4>

<mat-table [dataSource]="PurchasedItems">
    <ng-container matColumnDef="name">
        <mat-cell *matCellDef="let item" class="main">
            <h4 style="text-decoration:line-through;">{{ formatItem(item) }}</h4>
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="undoPurchased">
        <mat-cell *matCellDef="let item" class="accept" (click)="undoItem(item)">
            <i class="material-icons">undo</i>
        </mat-cell>
    </ng-container>

    <mat-row *matRowDef="let row; columns: VisiblePurchasedColumns;"></mat-row>
</mat-table>

<span class="btn-box right">
    <!--<button class="btn btn-action">Place Order</button>-->
</span>