<h4>Add to Inventory</h4>

<div class="warning">
    <span>
        <i class="material-icons" style="cursor: pointer;">info_outline</i>
        This adds your purchased items to your inventory. Adjust quantities that are different than your list.
    </span>
</div>

<mat-table [dataSource]="PurchasedItems">
    <ng-container matColumnDef="name">
        <mat-cell *matCellDef="let item" class="main">
            <h4>{{ formatItem(item) }}</h4>
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="removed">
        <mat-cell *matCellDef="let item" class="remove" (click)="ignoreItem(item)">
            <i class="material-icons">delete_outline</i>
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="editPurchased">
        <mat-cell *matCellDef="let item" class="accept" (click)="editItem(item)">
            <i class="material-icons">edit</i>
        </mat-cell>
    </ng-container>

    <mat-row *matRowDef="let row; columns: VisiblePurchasedColumns;"></mat-row>
</mat-table>

<inventory-transaction #inventoryTransaction (onUpdate)="removeItem($event)" (onCancel)="editCancelled()"></inventory-transaction>