<h3 class="title" *ngIf="isRecipeLoaded">Grocery List for "{{ RecipeName }}" </h3>

<div class="warning" *ngIf="hasUnmatchedItems">
    You have unmatched ingredients. These items will not be added to your *automated* grocery list.<br />
    You may also ignore these items.
</div>

<div class="ok" *ngIf="!hasUnmatchedItems">
    Congratulations! You're ready to add these products to your shopping list!
</div>

<mat-tab-group>
    <mat-tab label="Unmatched" *ngIf="hasUnmatchedItems">
        <unmatched-products #unmatchedItems [UnmatchedItems]="UnmatchedDataSource" (onReassigned)="reassignValue($event)"></unmatched-products>
    </mat-tab>
    <mat-tab label="Matched">
        <matched-products #matchedItems [MatchedItems]="MatchedDataSource" (onReassigned)="reassignValue($event)"></matched-products>
    </mat-tab>
    <mat-tab label="Ignored">
        <ignored-products #ignoredItems [IgnoredItems]="IgnoredDataSource" (onReassigned)="reassignIgnoredValue($event)"></ignored-products>
    </mat-tab>
</mat-tab-group>

<span class="btn-box right">
    <button class="btn btn" routerLink='..'>Cancel</button>
    <button [disabled]="isBusy" class="btn btn-action" (click)="addMatchedItemsToShoppingList()">Add</button>
</span>

<reassign-products-dialog #reassignDialog (onProductReassigned)="onProductReassigned($event)" (onProductIgnored)="onProductIgnored($event)"></reassign-products-dialog>