<div id="dialog-modal" *ngIf="this.isVisible" style="z-index:60">
    <div id="dialog-modal-content">
        <h3>{{Code.code}}</h3>
        
        <div class="group">
            <input type="number" [(ngModel)]="Code.code" [disabled]="networkIsBusy">
            <label>Product Code</label>
        </div>

        <div class="group">
            <input type="text" [(ngModel)]="Code.brand" [disabled]="networkIsBusy">
            <label>Brand</label>
        </div>

        <div class="group">
            <input type="text" [(ngModel)]="Code.product.name" [disabled]="true">
            <label>Product</label>
        </div>

        <div class="group">
            <input type="number" [(ngModel)]="Code.size" [disabled]="networkIsBusy">
            <label>Size</label>
        </div>

        <div class="group">
            <input type="text" [(ngModel)]="Code.unit" [disabled]="networkIsBusy">
            <label>Unit</label>
        </div>

        <div class="group" [hidden]="Code.product.varieties == 0">
            <select [(ngModel)]="selectedVariety">
                <option [ngValue]="null">---------- No Variety --------------</option>
                <option *ngFor="let variety of Code.product.varieties" [ngValue]="variety">{{ variety.description }}</option>
            </select>
            <label>Variety of {{ productName }}</label>
        </div>

        <add-variety #addVariety [product]="Code.product" (onVarietyAdded)="varietyAdded($event)"></add-variety>

        <span class="btn-box right">
            <button class="btn btn" (click)="cancelDialog()">Cancel</button>
            <button class="btn btn-action" (click)="saveProductCode()">Save</button>
        </span>
    </div>
</div>