<div id="upload-modal" [hidden]="!this.isVisible" style="z-index:60">
    <div id="upload-modal-content">
        <p>Add {{ Product.name }}</p>

        <mat-form-field style="width:100%;">
            <input matInput [(ngModel)]="Product.name" required placeholder="Name">
        </mat-form-field>

        <mat-form-field style="width:100%;">
            <input matInput [(ngModel)]="Product.defaultUnit" required placeholder="Default Unit">
        </mat-form-field>

        <button title="Save" [disabled]="isBusy" mat-raised-button color="primary" class="list-action" (click)="saveProduct()" style="margin-top: 1.5em; margin-bottom: 1.5em; margin-left: 1em; float: right;">
            Save
        </button>

        <button title="Cancel" [disabled]="isBusy" mat-raised-button color="default" class="list-action" (click)="dismissDialog()" style="margin-top: 1.5em; margin-bottom: 1.5em; margin-left: 1em; float: right;">
            Cancel
        </button>
    </div>
</div>