<div id="dialog-modal" *ngIf="isVisible">
    <div id="dialog-modal-content">
        <h3>Add {{ Product.name }}</h3>

        <div class="group">
            <input type="text" [(ngModel)]="Product.name" required>
            <label>Name</label>
        </div>

        <div class="group">
            <input type="text" [(ngModel)]="Product.defaultUnit" required>
            <label>Default Unit</label>
        </div>

        <span class="btn-box right">
            <button class="btn btn" [disabled]="isBusy" (click)='dismissDialog()'>Cancel</button>
            <button class="btn btn-action" [disabled]="isBusy" (click)='saveProduct()'>Save</button>
        </span>
    </div>
</div>