<div>Product Search</div>

<div>
    <mat-form-field style="width:20em;">
        <input matInput [(ngModel)]="SearchText" placeholder="Product Name or Description">
    </mat-form-field>
    <i class="material-icons" style="cursor: pointer;" (click)="productSearch()">search</i>
</div>

<mat-table [dataSource]="dataSource">

    <!-- Name/Description Column -->
<ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Pantry Inventory</mat-header-cell>
    <mat-cell *matCellDef="let product" (click)="selectProduct(product)" style="cursor: pointer">
    <div>
        <span>{{product.name}}</span>
    </div>
    </mat-cell>
</ng-container>

<mat-row *matRowDef="let row; columns: visibleColumns;"></mat-row>
</mat-table>