<h4>Product Search</h4>

<div class="group">
    <i class="material-icons" style="cursor: pointer;" (click)="productSearch()">search</i>
    <input matInput #searchTextBox [(ngModel)]="SearchText" (input)="hasSearched = false;">
    <label>Product Name or Description</label>
</div>

<round-button altText='New' buttonText="+" (click)="addProduct()" [hidden]="!canAdd()"></round-button>
<!-- TODO: Implement disabling round button [disabled]='!canAdd()' -->

<h4 *ngIf="dataSource.data.length > 0">Search Results</h4>
<mat-table [dataSource]="dataSource" *ngIf="dataSource.data.length > 0">

    <!-- Name/Description Column -->
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Search Results</mat-header-cell>
        <mat-cell *matCellDef="let product" (click)="selectProduct(product)" style="cursor: pointer">
            <span>{{product.name}}</span>
        </mat-cell>
    </ng-container>

    <mat-row *matRowDef="let row; columns: visibleColumns;"></mat-row>
</mat-table>

<add-product-dialog #AddProductDialog (onAdded)="selectProduct($event)"></add-product-dialog>