<div id="dialog-modal" *ngIf="isVisible">
    <div id="dialog-modal-content">
        <h3 mat-dialog-title>{{product.name}}</h3>
        
        <add-variety #addVariety [product]="product" (onVarietyAdded)="varietyAdded($event)"></add-variety>

        <div class="group">
            <i (click)="addCode()">Add</i>
            <input matInput [(ngModel)]="blankCode.code" [disabled]="networkIsBusy">
            <label>Add Code</label>
        </div>

        <h4>Varieties <span class="expanded">&nbsp;(i.e. organic, ground, large, etc...)</span></h4>
        <mat-table [dataSource]="varietyDataSource">
            <ng-container matColumnDef="name">
                <mat-cell *matCellDef="let variety" [style.flex]="'flex'">
                    <div class="project-name">
                        <p>{{variety.description}}</p>
                    </div>
                </mat-cell>
            </ng-container>
    
            <mat-row *matRowDef="let row; columns: varietyColumns;"></mat-row>
        </mat-table>

        <h4>Codes <span class="expanded">&nbsp;(i.e. UPC, EAN, etc...)</span></h4>
        <mat-table [dataSource]="codeDataSource">
            <ng-container matColumnDef="code">
                <mat-cell *matCellDef="let code" [style.flex]="'flex'">
                    <div class="project-name">
                        <p>{{code.code}}</p>
                    </div>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="variety">
                <mat-header-cell *matHeaderCellDef>
                    Assigned Variety
                </mat-header-cell>
                <mat-cell *matCellDef="let code" [style.flex]="'flex'">
                    <div class="project-name">
                        <p>{{ code.variety == null ? "None" : code.variety.description }}</p>
                    </div>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="size">
                <mat-header-cell *matHeaderCellDef>
                    Size
                </mat-header-cell>
                <mat-cell *matCellDef="let code" [style.flex]="'flex'">
                    <div class="project-name">
                        <p>{{ code.size }} &nbsp; {{ code.unit }}</p>
                    </div>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="brand">
                <mat-header-cell *matHeaderCellDef>
                    Brand
                </mat-header-cell>
                <mat-cell *matCellDef="let code" [style.flex]="'flex'">
                    <div class="project-name">
                        <p>{{ code.brand == null ? "None" : code.brand }}</p>
                    </div>
                </mat-cell>
            </ng-container>
    
            <mat-row *matRowDef="let row; columns: codeColumns;"></mat-row>
        </mat-table>

        <span class="btn-box right">
            <button class="btn btn" [disabled]="isBusy" (click)="cancelDialog()">Cancel</button>
        </span>

        <add-product-code #addProductCodeDialog (onSaved)="codeAdded()"></add-product-code>
    </div>
</div>