<div class="danger">{{error}}</div>

<div style="padding: .5em 0;">
  <a routerLink="/new-recipe">New Recipe</a>
</div>

<div class="table-container mat-elevation-z8">

  <mat-table [dataSource]="dataSource">

    <!-- Name/Description Column -->
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let project"><div><a routerLink="/project/{{project.id}}"><strong>{{project.name}}</strong></a></div></mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-table [dataSource]="dataSource2">

    <!-- Name/Description Column -->
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let recipe"><div><a routerLink="/recipe/{{recipe.id}}"><strong>{{recipe.title}}</strong></a></div></mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>