@{
    var version = typeof(IdentityServer4.Hosting.IdentityServerMiddleware).Assembly.GetName().Version.ToString();
}

<div class="center">
    <h1>
        Welcome to PantryTrackers.com
    </h1>

    <ul>
        <li>Simplify Your Meal Planning</li>
        <li>Automate Your Shopping List.</li>
        <li>Digitalize Your Cookbooks.</li>
        <li>Track Items In Your pantry.</li>
    </ul>
    <p>&nbsp;</p>
    <a class="btn btn-action" asp-action="Register" asp-controller="Account">Create Free Account</a>
</div>
