<div class="error-text">{{error}}</div>

<div class="table-container mat-elevation-z2">

    <mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef>{{ selectedLetter }}</mat-header-cell>
            <mat-cell *matCellDef="let product" [style.flex]="'flex'">
                <div class="project-name">
                    <h3 (click)="productClick(product)" style="cursor: pointer;">{{product.name}}</h3>
                </div>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <button title="Add Product" mat-raised-button class="add-button mat-fab" color="primary" (click)="addProduct()">
        <i class="material-icons">add</i>
    </button>

    <product-details-dialog #ProductDetailsDialog></product-details-dialog>
</div>