<date-range (rangeUpdated)='dateRangeChanged($event)' #calendarDates>
</date-range>
<hr />

<mat-table [dataSource]="TableData" style="clear: both;">

    <!--Name/Description Column -->
    <ng-container matColumnDef="stuff">
        <mat-cell *matCellDef="let group; index as i">
            <div>
                <h4> 
                    {{ formatLongDate(group.key) }} 
                    <i *ngIf="!editMode[i] && group.value.length > 0" class="material-icons accept" style="float: right; cursor: pointer;" (click)='toggleEditMode(i, true)'>edit</i>
                    <i *ngIf="editMode[i] && group.value.length > 0" class="material-icons accept" style="float: right; cursor: pointer;" (click)='toggleEditMode(i, false)'>check</i>
                </h4>
                <div *ngFor="let meal of group.value" style="padding-bottom: 1rem;">
                    <i *ngIf="editMode[i]" class="material-icons remove" style="cursor: pointer; float: right; background-color: red; color: white;"
                    (click)="removeMeal(i,meal)">remove</i>
                    <a routerLink="/recipe/{{meal.recipeId}}">{{ meal.recipeName }}</a>
                </div>
                <div *ngIf="group.value.length == 0" style="margin-bottom: 1rem;">No menu is planned for today.</div>
                <a (click)="addMeal(i)"><div><i class="material-icons remove" style="cursor: pointer; margin-bottom: 1rem;">add</i>Add meal</div></a>
            </div>
        </mat-cell>
    </ng-container>

    <mat-row *matRowDef="let row; columns: VisibleColumns;"></mat-row>-->
</mat-table>
<recipe-list-dialog (onRecipeSelected)='recipeSelected($event)' #recipeList></recipe-list-dialog>