<div id="dialog-modal" *ngIf="this.isVisible">
    <div id="dialog-modal-content">
        <h3>Text View</h3>

        <div class="warning" *ngIf="!showTips" (click)="showTips = true;">
            <span>
                <i class="material-icons" style="cursor: pointer;">info_outline</i>
                Show Tips
            </span>
        </div>

        <div class="warning" *ngIf="showTips">
            <p *ngFor="let tip of tips;" >
                <i class="material-icons">info_outline</i> 
                {{tip}}
            </p>
        </div>
        
        <div class="group">
            <textarea style="width: 100%; height:50%; max-height: 75em;" [(ngModel)]="rawText" #textArea></textarea>
            <label>Recipe Text</label>
        </div>
        
        <span class="btn-box right">
            <button class="btn btn" [disabled]="isBusy" (click)="cancelDialog()">Cancel</button>
            <button class="btn btn-action" [disabled]="isBusy" (click)="reprocessText(rawText)">OK</button>
        </span>
    </div>
</div>