#dialog-modal {
    background-color:rgba(22,22,22,0.5); 
    position: fixed;
    width: 100%;
    height: 100%;
    z-index:50;
    left: 0;
    top: 0;
    overflow-y: auto;
}

#dialog-modal-content {
    width: 100%;
    min-height: 100%;
    background-color:#FFFFFF;
    padding: 1em;
    box-sizing: border-box;
    overflow-y: auto;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}

@media(min-width: 35rem) {
    #dialog-modal-content {
        width: 75%;
        margin: auto;
    }
}