<div class="mat-display-1" style="text-align: center; margin-top: 1em;">What's in your pantry?</div>

<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Track your food.</mat-card-title>
      <mat-card-subtitle>Keep track of your pantry inventory.</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../assets/images/pantry.jpg" alt="Automated Pantry Inventory">
    <mat-card-content>
      <ul>
        <li>Add your items from your grocery trips.</li>
        <li>Automatically deduct items used in your menu.</li>
        <li>Receive low-stock alerts.</li>
      </ul>
    </mat-card-content>
</mat-card>

<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Digitalize your cookbook.</mat-card-title>
      <mat-card-subtitle>Centralize all your favorite recipes</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../assets/images/recipes.jpg" alt="Digital Recipe Book">
    <mat-card-content>
      <ul>
        <li>Upload your favorite recipes.</li>
        <li>Use these recipes to auto-create menu plans</li>
        <li>Explore new recipes</li>
      </ul>
    </mat-card-content>
</mat-card>

<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Easy Menu Planning & Shopping.</mat-card-title>
      <mat-card-subtitle>Automated Planning & Shopping Lists</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../assets/images/shopping.jpg" alt="Easy Shopping Trips">
    <mat-card-content>
      <ul>
        <li>Uses your on-hand ingredients to create budget-friendly shopping lists</li>
        <li>Generate shopping list based on menu plan</li>
      </ul>
    </mat-card-content>
</mat-card>