@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    Contact us via GitHub: <a href="https://github.com/jeremymcquivey/pantrytracker">https://github.com/jeremymcquivey/pantrytracker</a>
</address>